<table class="table table-striped table-inverse table-responsive mt-5 " style="margin-left: 200px;">
        <h1 style="color: orange;" >Books List</h1>
    <thead class="thead-inverse bg-dark">
            
        <tr>
            <th style="color: white;">Book Id</th>
            <th style="color: white;">Book Name</th>
            <th style="color: white;">Author1</th>
            <th style="color: white;">Author2</th>
            <th style="color: white;">Publisher</th>
            <th style="color: white;">Year Of Publication</th>
            <th style="color: white;">Update</th>
            <th style="color: white;">Delete</th>
        </tr>
        </thead>
        <tbody class="bg-info">
            <tr *ngFor='let book of books'>
                <td style="color: white;" scope="row">{{book.bookId}}</td>
                <td style="color: white;">{{book.bookName}}</td>
                <td style="color: white;">{{book.author1}}</td>
                <td style="color: white;">{{book.author2}}</td>
                <td style="color: white;">{{book.publisher}}</td>
                <td style="color: white;">{{book.yearOfPublication}}</td>
                <td><button class="btn btn-warning" (click)='updateBook(book)'>Update</button></td>
                <td><button class="btn btn-danger" (click)='deleteBook(book)'>Delete</button></td>
            </tr>
           
        </tbody>
</table>