<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color:orange;font-family:fantasy">TY Library</a>
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" style="color: orange">Home <span class="sr-only">(current)</span></a>
            </li>
           
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            
            <button class="btn btn-warning my-2 my-sm-0" *ngIf='service.status' (click)="login()" >Login</button>
            <button class="btn btn-warning my-2 my-sm-0" *ngIf='service.status1'(click)='logout()'>Logout</button>
          </form>
         
       
    </div>
</nav>