    <h1 style="text-align: center;color: red;font-family: fantasy;" class="mt-2">Welcome Student!!</h1>
    <button class="btn btn-primary mt-3" (click)='viewBooks()'>Click Here to See Allocated Books</button>
<table class="table mt-3">
    <thead>
        <tr>
            <th style="color: orange;">Book Id</th>
            <th style="color: orange;">Book Name</th>
            <th style="color: orange;">Author</th>
            <th style="color: orange;">Category</th>
            <th style="color:orange;">Request</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-success">Request</button></td>
        </tr>
    </tbody>
</table>