
<div>
    <h1 style="color: orange;text-align: center;">Welcome to TY Library!!</h1>
    <br>
    <br>
    <h2 style="color: red;text-align: center;">Library Rules And Regulations: </h2>
    <br>
    <p style="color: gold;text-align: center;">1.Identity Card is compulsory for getting access to the library</p>
    <p style="color: gold;text-align: center;">2.Registration should be done to become a library member prior to using the library resources</p>
    <p style="color: gold;text-align: center;">3.Students are allowed to library only on production of their authorized/valid Identity Cards</p>
    <br>
    <br>
    <h1 style="color: red;text-align: center;">Working hours of our library:</h1>
    <br>
    <br>
    <p style="color:gold;text-align: center;">Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
    <p style="color: gold;text-align: center;">Saturday 8 am to 5 pm</p>
    <p style="color: gold;text-align: center;">Sundays 9 am to 5 pm (During Examination Time)</p>
</div>