<table class="table mt-3">
    <thead>
        <tr>
                        <th>Index</th>
                        <th>Book Id</th>
                        <th>Book Name</th>
                        <th>Issued Date</th>
                        <th>Return</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <td ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>     
                    <button class="btn btn-warning">Return</button>
                        </td>
                    </tr>
                  
    </tbody>
</table>