<marquee behavior="" direction=""><h1 style="color:red;font-family: fantasy;">Welcome {{name}}, Have a good day!!</h1></marquee>
<h3 ><a href="/changepwd" class="float-right" style="color: red;background: white;">Change Password</a></h3>
<div class="float-left">
<table class="table table-striped table-inverse table-responsive mt-5 ">
    <h1 style="color: red;font-family: fantasy;background: white;text-align: center;" >Students Request </h1>
    <thead class="thead-inverse bg-dark">
        <tr>
            <th style="color: wheat;">Reg Id</th>
            <th style="color: wheat;">User Id</th>
            <th style="color: wheat;">Book Id</th>
            <th style="color: wheat;">Reg Date</th>
            <th style="color: wheat;">Accept</th>
            <th style="color: wheat;">Decline</th>
        </tr>
        </thead>
        <tbody class="bg-dark">
            <tr *ngFor='let reqs of bookRequests'>
                <td scope="row" style="color:lightblue">{{reqs.regId}}</td>
                <td style="color:lightblue">{{reqs.userId}}</td>
                <td style="color:lightblue">{{reqs.bookId}}</td>
                <td style="color:lightblue">{{reqs.regDate}}</td>
                <td><button class="btn btn-success"(click)='acceptReq(reqs)'>Accept</button></td>
                <td><button class="btn btn-danger">Decline</button></td>
            </tr>
            
        </tbody>
</table>
</div>
<div class="float-left mt-5 " style="margin-left: 500px;">
    <button class="btn btn-warning btn-lg" (click)='addBook()'>Add Books</button><br>
    <button class="mt-5 btn btn-warning btn-lg" (click)="books()">View Books</button>
</div>
