<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mb-2 " style="border:1px solid black;border-radius: 5px">
            <form action="" method="POST" #registerform='ngForm' (ngSubmit)='updateUser(registerform)'
                class="form-container" role="form">
                <h1 style="text-align: center;color: orangered"> Update User!!</h1>
                <input type="hidden" name="userId" #userId="ngModel" [ngModel]="libraryService.selectedUser.userId">
                <div class="form-group">
                    <input type="text" name='userName' #userName='ngModel'
                        [(ngModel)]="libraryService.selectedUser.userName" class="form-control"
                        placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <input type="text" name='userEmail' #userEmail='ngModel'
                        [(ngModel)]="libraryService.selectedUser.userEmail" class="form-control"
                        placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <input type="text" name='userPassword' #userPassword='ngModel'
                        [(ngModel)]="libraryService.selectedUser.userPassword" class="form-control"
                        placeholder="Enter Password Here">
                </div>
                <div class="form-group">
                    <input type="text" name='userContactNo' #userContactNo='ngModel'
                        [(ngModel)]="libraryService.selectedUser.userContactNo" class="form-control"
                        placeholder="Enter Contact No">
                </div>
                <div class="form-group">
                    <select name='userRole' #userRole='ngModel' [(ngModel)]="libraryService.selectedUser.userRole"
                        class="form-control" placeholder="Select User Role">
                        <option value="admin">admin</option>
                        <option value="librarian">librarian</option>
                        <option value="student">student</option>
                    </select>
                </div>

                <div class="form-group">
                    Gender
                    <input type="radio" name='userGender' #userGender='ngModel'
                        [(ngModel)]="libraryService.selectedUser.userGender" value="Male" checked>Male
                    <input type="radio" name='userGender' #userGender='ngModel'
                        [(ngModel)]="libraryService.selectedUser.userGender" value="Female">Female
                </div>

                <div class="form-group">
                    <button class="btn btn-warning col-md-6 form-control" (click)="cancelUpdate()">Cancel</button>
                    <button type="submit" class="btn btn-success col-md-6 form-control float-right">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>